---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: prowlarr-flaresolverr
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/flaresolverr/flaresolverr
              tag: v3.3.12
            env:
              TZ: "${TIMEZONE}"
              LOG_LEVEL: info
            resources:
            requests:
              cpu: 10m
              memory: 100M
            limits:
              memory: 1Gi
    service:
      main:
        ports:
          http:
            port: 8191
  # values:
  #   image:
  #     repository: ghcr.io/flaresolverr/flaresolverr
  #     tag: v3.3.12
  #   env:
  #     TZ: "${TIMEZONE}"
  #     LOG_LEVEL: info
  #   service:
  #     main:
  #       ports:
  #         http:
  #           port: 8191
  #   resources:
  #     requests:
  #       memory: 100Mi
  #       cpu: 100m
  #     limits:
  #       memory: 1024Mi
