---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  interval: 30m
  chart:
    spec:
      chart: longhorn
      version: 1.5.2
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  #https://github.com/longhorn/longhorn/blob/master/chart/values.yaml
  values:
    monitoring:
      enabled: true
      createPrometheusRules: true
    defaultSettings:
      backupTarget: s3://longhorn@us-east-1/
      backupTargetCredentialSecret: longhorn-secrets
      defaultReplicaCount: 2
      defaultLonghornStaticStorageClass: longhorn
      backupstorePollInterval: 0
      #backupTarget: nfs://${NAS_ADDR}:/mnt/user/nfs-backup
      createDefaultDiskLabeledNodes: true
      defaultDataPath: /mnt/data
      # restoreVolumeRecurringJobs: true
      # storageOverProvisioningPercentage: 100
      # storageMinimalAvailablePercentage: 1
      # guaranteedEngineManagerCPU: 20
      # guaranteedReplicaManagerCPU: 20
      # orphanAutoDeletion: true
      # concurrentAutomaticEngineUpgradePerNodeLimit: 3
      # nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
    ingress:
      enabled: true
      ingressClassName: internal
      annotations:
        hajimari.io/icon: mdi:harddisk
      host: longhorn.${SECRET_DOMAIN}
      tls: true
      tlsSecret: longhorn.${SECRET_DOMAIN}


