---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
stringData:
  SECRET_DOMAIN: "{{ bootstrap_cloudflare_domain }}"
  SECRET_DOMAIN2: "{{ bootstrap_cloudflare_domain2 }}"
  SECRET_ACME_EMAIL: "{{ bootstrap_acme_email }}"
  SECRET_CLOUDFLARE_TUNNEL_ID: "{{ bootstrap_cloudflare_tunnel_id }}"
  SECRET_MINIO_SECRET_KEY: "{{ bootstrap_minio_secret_key }}"
  SECRET_MINIO_ACCESS_KEY: "{{ bootstrap_minio_access_key }}"
