---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets-user
  namespace: flux-system
stringData:
  SECRET_PLACEHOLDER: "secret-value"
  SECRET_MAXMIND_LICENSE_KEY: "{{ bootstrap_maxmind_license_key }}"
