---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: loki
spec:
  interval: 30m
  chart:
    spec:
      chart: loki
      version: 5.41.4
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
      interval: 30m
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    loki:
      structuredConfig:
        auth_enabled: false

        server:
          log_level: info
          http_listen_port: 3100
          grpc_listen_port: 9095
        memberlist:
          join_members: ["loki-memberlist"]
        limits_config:
          retention_period: 14d
          enforce_metric_name: false
          reject_old_samples: true
          reject_old_samples_max_age: 168h
          max_cache_freshness_per_query: 10m
          split_queries_by_interval: 15m
          max_query_series: 750
          ingestion_rate_mb: 16
          ingestion_burst_size_mb: 32
          shard_streams:
            enabled: true

        schema_config:
          configs:
            - from: "2022-01-11" # quote
              store: boltdb-shipper
              object_store: s3
              schema: v12
              index:
                prefix: loki_index_
                period: 24h
        frontend:
          # Maximum number of outstanding requests per tenant per frontend; requests
          # beyond this error with HTTP 429.
          # CLI flag: -querier.max-outstanding-requests-per-tenant
          max_outstanding_per_tenant: 2048 # default = 100]

          # Compress HTTP responses.
          # CLI flag: -querier.compress-http-responses
          compress_responses: true # default = false]

          # Log queries that are slower than the specified duration. Set to 0 to disable.
          # Set to < 0 to enable on all queries.
          # CLI flag: -frontend.log-queries-longer-than
          log_queries_longer_than: 20s
        common:
          path_prefix: /var/loki
          replication_factor: 3
          storage:
            s3:
              s3: null
              insecure: true
              s3forcepathstyle: true
          ring:
            kvstore:
              store: memberlist

        ruler:
          enable_api: true
          enable_alertmanager_v2: true
          alertmanager_url: http://alertmanager.monitoring.svc.cluster.local:9093
          storage:
            type: local
            local:
              directory: /rules
          rule_path: /tmp/scratch
          ring:
            kvstore:
              store: memberlist
        distributor:
          ring:
            kvstore:
              store: memberlist

        compactor:
          working_directory: /var/loki/boltdb-shipper-compactor
          shared_store: s3
          compaction_interval: 10m
          retention_enabled: true
          retention_delete_delay: 2h
          retention_delete_worker_count: 150

        ingester:
          max_chunk_age: 1h
          lifecycler:
            ring:
              kvstore:
                store: memberlist

        analytics:
          reporting_enabled: false

      podAnnotations:
        secret.reloader.stakater.com/reload: loki-secrets

    gateway:
      enabled: true
      replicas: 2
      ingress:
        enabled: true
        ingressClassName: internal
        annotations:
          hajimari.io/icon: gate-and
        hosts:
          - host: &host "loki.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host

    write:
      replicas: 2
      persistence:
        size: 10Gi
        storageClass: longhorn

    read:
      persistence:
        size: 10Gi
        storageClass: longhorn

    backend:
      replicas: 2
      extraVolumeMounts:
        - name: rules
          mountPath: /rules/fake
        - name: scratch
          mountPath: /tmp/scratch
      extraVolumes:
        - name: rules
          configMap:
            name: loki-alerting-rules
        - name: scratch
          emptyDir: {}
      persistence:
        size: 10Gi
        storageClass: longhorn

    monitoring:
      dashboards:
        annotations:
          grafana_folder: Loki
      serviceMonitor:
        enabled: false
        metricsInstance:
          enabled: false
      selfMonitoring:
        enabled: false
        grafanaAgent:
          installOperator: false
        lokiCanary:
          enabled: false
    test:
      enabled: false

  valuesFrom:
    - kind: Secret
      name: loki-secrets
      valuesKey: s3_bucket_name
      targetPath: loki.structuredConfig.common.storage.s3.bucketnames
    - kind: Secret
      name: loki-secrets
      valuesKey: s3_bucket_host
      targetPath: loki.structuredConfig.common.storage.s3.endpoint
    - kind: Secret
      name: loki-secrets
      valuesKey: s3_bucket_region
      targetPath: loki.structuredConfig.common.storage.s3.region
    - kind: Secret
      name: loki-secrets
      valuesKey: access_key
      targetPath: loki.structuredConfig.common.storage.s3.access_key_id
    - kind: Secret
      name: loki-secrets
      valuesKey: secret_key
      targetPath: loki.structuredConfig.common.storage.s3.secret_access_key
