---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: cloudflared
  namespace: networking
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: docker.io/cloudflare/cloudflared
              tag: 2023.10.0
            env:
              NO_AUTOUPDATE: "true"
              TUNNEL_CRED_FILE: /etc/cloudflared/creds/credentials.json
              TUNNEL_METRICS: 0.0.0.0:8080
              TUNNEL_TRANSPORT_PROTOCOL: quic
              TUNNEL_POST_QUANTUM: true
              TUNNEL_ID:
                valueFrom:
                  secretKeyRef:
                    name: cloudflared-secret
                    key: TUNNEL_ID
            args:
              - tunnel
              - --config
              - /etc/cloudflared/config/config.yaml
              - run
              - "$(TUNNEL_ID)"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ready
                    port: &port 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            resources:
              requests:
                cpu: 5m
                memory: 128M
              limits:
                memory: 256M
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app
    service:
      main:
        ports:
          http:
            port: *port
    serviceMonitor:
      main:
        enabled: true
    persistence:
      config:
        enabled: true
        type: configMap
        name: cloudflared-configmap # overriden by kustomizeconfig
        globalMounts:
          - path: /etc/cloudflared/config/config.yaml
            subPath: config.yaml
            readOnly: true
      creds:
        type: secret
        name: cloudflared-secret
        globalMounts:
          - path: /etc/cloudflared/creds/credentials.json
            subPath: credentials.json
            readOnly: true

# spec:
#   interval: 30m
#   chart:
#     spec:
#       chart: app-template
#       version: 1.5.1
#       sourceRef:
#         kind: HelmRepository
#         name: bjw-s
#         namespace: flux-system
#   maxHistory: 2
#   install:
#     remediation:
#       retries: 3
#   upgrade:
#     cleanupOnFail: true
#     remediation:
#       retries: 3
#   uninstall:
#     keepHistory: false
#   values:
#     controller:
#       replicas: 1
#       strategy: RollingUpdate
#       annotations:
#         reloader.stakater.com/auto: "true"
#     image:
#       repository: docker.io/cloudflare/cloudflared
#       tag: 2023.10.0
#     env:
#       NO_AUTOUPDATE: "true"
#       TUNNEL_CRED_FILE: /etc/cloudflared/creds/credentials.json
#       TUNNEL_METRICS: 0.0.0.0:8080
#       TUNNEL_TRANSPORT_PROTOCOL: auto
#       TUNNEL_ID:
#         valueFrom:
#           secretKeyRef:
#             name: cloudflared-secret
#             key: TUNNEL_ID
#     args:
#       - tunnel
#       - --config
#       - /etc/cloudflared/config/config.yaml
#       - run
#       - "$(TUNNEL_ID)"
#     service:
#       main:
#         ports:
#           http:
#             port: 8080
#     serviceMonitor:
#       main:
#         enabled: true
#         endpoints:
#           - port: http
#             scheme: http
#             path: /metrics
#             interval: 1m
#             scrapeTimeout: 30s
#     probes:
#       liveness: &probes
#         enabled: true
#         custom: true
#         spec:
#           httpGet:
#             path: /ready
#             port: http
#           initialDelaySeconds: 0
#           periodSeconds: 10
#           timeoutSeconds: 1
#           failureThreshold: 3
#       readiness: *probes
#       startup:
#         enabled: false
#     persistence:
#       config:
#         enabled: true
#         type: configMap
#         name: cloudflared-configmap
#         subPath: config.yaml
#         mountPath: /etc/cloudflared/config/config.yaml
#         readOnly: true
#       creds:
#         enabled: true
#         type: secret
#         name: cloudflared-secret
#         subPath: credentials.json
#         mountPath: /etc/cloudflared/creds/credentials.json
#         readOnly: true
#     resources:
#       requests:
#         cpu: 5m
#         memory: 10Mi
#       limits:
#         memory: 256Mi
