---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: influxdb
  namespace: database
spec:
  interval: 60m
  chart:
    spec:
      chart: influxdb
      version: 4.12.1
      sourceRef:
        kind: HelmRepository
        name: influxdata
        namespace: flux-system
      interval: 60m
  # Values link: https://github.com/influxdata/helm-charts/blob/master/charts/influxdb/values.yaml
  # delete _internal if panics occur
  values:
    image:
      repository: influxdb
      #tag: 1.8.5-alpine
      tag: 1.8.10
    pdb:
      create: false
    service:
      type: LoadBalancer
      # annotations:
      #   metallb.universe.tf/loadBalancerIPs: |-
      #     192.168.1.66
    env:
      - name: TZ
        value: America/New_York
    resources:
      limits:
        memory: 500Mi
      requests:
        cpu: 100m
        memory: 128Mi
    ## Persist data to a persistent volume
    ##
    persistence:
      enabled: true
      #useExisting: true
      existingClaim: pvc-influxdb
      name: pvc-influxdb
    nodeSelector:
      kubernetes.io/arch: amd64
