---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Flux Helm Repository Sync"

on:
  workflow_dispatch:
    inputs:
      clusterName:
        description: Cluster Name
        default: main
        required: true
      helmRepoNamespace:
        description: Helm Repository Namespace
        default: flux-system
        required: true
      helmRepoName:
        description: Helm Repository Name
        required: true
  pull_request:
    branches: ["main"]
    paths: ["kubernetes/**/helmrelease.yaml"]

jobs:
  sync:
    name: Flux Helm Repository Sync
    runs-on: ["arc-runner-set-home-cluster"]
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@f04aa94d10cf56334d1c580e077ce2e3569e805d # v1
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          token: "${{ steps.app-token.outputs.token }}"
          fetch-depth: 0

      - name: Setup Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Setup Workflow Tools
        shell: bash
        run: brew install fluxcd/tap/flux yq

      - name: Write kubeconfig
        id: kubeconfig
        uses: timheuer/base64-to-file@adaa40c0c581f276132199d4cf60afa07ce60eac # v1
        with:
          encodedString: "${{ secrets.KUBECONFIG }}"
          fileName: kubeconfig

      - if: ${{ github.event.inputs.clusterName == '' && github.event.inputs.helmRepoNamespace == '' && github.event.inputs.helmRepoName == '' }}
        name: Get Changed Files
        id: changed-files
        uses: tj-actions/changed-files@716b1e13042866565e00e85fd4ec490e186c4a2f # v41
        with:
          files: kubernetes/**/helmrelease.yaml
          safe_output: false

      - if: ${{ github.event.inputs.clusterName == '' && github.event.inputs.helmRepoNamespace == '' && github.event.inputs.helmRepoName == '' }}
        name: List All Changed Files
        run: echo "${{ steps.changed-files.outputs.all_changed_and_modified_files }}"

      - if: ${{ github.event.inputs.clusterName == '' && github.event.inputs.helmRepoNamespace == '' && github.event.inputs.helmRepoName == '' }}
        name: Sync Helm Repository
        env:
          KUBECONFIG: "${{ steps.kubeconfig.outputs.filePath }}"
        shell: bash
        run: |
          declare -a repos=()
          for f in ${{ steps.changed-files.outputs.all_changed_and_modified_files }}; do
              cluster_name="home-cluster"
              repo_namespace="$(yq -r '.spec.chart.spec.sourceRef.namespace' "${f}")"
              repo_name="$(yq -r '.spec.chart.spec.sourceRef.name' "${f}")"
              repos+=("${cluster_name}:${repo_namespace}:${repo_name}")
          done
          mapfile -t repos < <(printf "%s\n" "${repos[@]}" | sort -u)
          for r in "${repos[@]}"; do
              IFS=':' read -r cluster_name repo_namespace repo_name <<< "${r}"
              flux \
                  --context admin@${cluster_name} \
                  --namespace ${repo_namespace} \
                  reconcile source helm ${repo_name}
          done

      - if: ${{ github.event.inputs.clusterName != '' && github.event.inputs.helmRepoNamespace != '' && github.event.inputs.helmRepoName != '' }}
        name: Sync Helm Repository
        env:
          KUBECONFIG: ${{ steps.kubeconfig.outputs.filePath }}
        shell: bash
        run: |
          flux \
              --context ${{ github.event.inputs.clusterName }} \
              --namespace ${{ github.event.inputs.helmRepoNamespace }} \
              reconcile source helm ${{ github.event.inputs.helmRepoName }}
